{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}HardNut{% endblock %}</title>
        <link href="{% static 'education/Hardnut.jpg' %}" rel="icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'education/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index'%}">
                <img src="{% static 'education/Hardnut.jpg' %}" width="110" height="80" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            <div>
              <ul class="navbar-nav mr-auto">
                     {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'goals'%}">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_rooms' %}">Study Now</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'goal_analysis' %}">Goal Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><strong>{{ request.user.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>